<section class="fact section">
	<div class="wrapper">
		<div class="block-circle"><img src="img/block-circle.png" alt="circle"></div>
		<div class="title"><span class="orange">Грибок</span> начинается с кожи и ногтей<br> и приводит к заражению внутренних органов</div>
		<div class="fact-content">
				<div class="fact-content-box">
						<div class="fact-contents">
							<div class="fact-content__text">
								<div class="fact-content__title">Грибок Trichophyton</div>
								<div class="fact-content__subtitle">поражает печень<br> и почки</div>
							</div>
							<div class="fact-content__img"><img src="img/fungus1.png" alt="fungus"></div>
						</div>
						<div class="fact-contents">
							<div class="fact-content__text">
								<div class="fact-content__title">Грибок Rhizopus</div>
								<div class="fact-content__subtitle">поражает гортань<br> и полость носа</div>
							</div>
							<div class="fact-content__img"><img src="img/fungus2.png" alt="fungus"></div>
						</div>
				</div>
				<div class="fact-content-box fact-content-box3">
					<img src="img/fact-men.png" alt="men">
					<div class="pulse pulse1"></div>
					<div class="pulse pulse2"></div>
					<div class="pulse pulse3"></div>
					<div class="pulse pulse4"></div>					
				</div>
				<div class="fact-content-box fact-content-box2">
					<div class="fact-contents">		
						<div class="fact-content__img"><img src="img/fungus3.png" alt="fungus"></div>
						<div class="fact-content__text">
							<div class="fact-content__title">Грибок Aspergillius</div>
							<div class="fact-content__subtitle">поражает легкие</div>
						</div>
					</div>
					<div class="fact-contents">
						<div class="fact-content__img"><img src="img/fungus4.png" alt="fungus"></div>
						<div class="fact-content__text">
							<div class="fact-content__title">Грибок Sporotrichium</div>
							<div class="fact-content__subtitle">поражает суставы</div>
						</div>
					</div>
			</div>
		</div>
		<div class="fact-problem">Грибок – не просто косметологическая проблема, <br>
			а серьезная угроза здоровью!</div>
			<div class="fact-frame"><b>ФАКТ:</b> науке известны более 500 видов грибковых инфекций.<br>
				Для лечения каждого из них требуется отдельный препарат, ведь подавляющее большинство средств<br> 
				действуют лишь на несколько видов инфекций.
				</div>
	</div>
</section>