<section class="fact section section-line">
	<div class="wrapper">
			<h2 class="title"><span class="green">Варикоз</span> начинается незаметно</h2>
			<div class="subtitle">89% женщин и 66% мужчин имеют признаки этого недуга</div>
			<div class="fact-content">
				<div class="fact-content-box">
					<div class="fact-content__img"><img src="img/fact1.png" alt="fact"></div>
						<div class="fact-content__text">Вы ощущаете зуд<br>
								на коже лодыжек<br> 
								и голени</div>
				</div>
				<div class="fact-content-box ">
						<div class="fact-content__img factb2"><img src="img/fact2.png" alt="fact"></div>
							<div class="fact-content__text">Вы ощущаете<br> 
									покалывание<br>  
									и тяжесть в ногах</div>
					</div>
					<div class="fact-content-box">
							<div class="fact-content__img"><img src="img/fact3.png" alt="fact"></div>
								<div class="fact-content__text">Ноги опухают,<br>
										на бедрах и икрах<br>
										появилась венозная<br>
										сетка
										</div>
						</div>
			</div>
			<div class="help-box">Избавляйтесь от варикоза на начальных стадиях!</div>
			<div class="btn fact-btn ever-popup-btn">Заказать</div>
	</div>
</section>