<section class="description section">
	<div class="wrapper">
		<h2 class="title"><span class="orange">Микоцин</span> – эффективен<br>
			против всех видов грибковых инфекций!</h2>
		<div class="description-content">
			<div class="description-box">
				<div class="description-box__img">
					<img class="leg1" src="img/leg1.png" alt="leg">
					<span class="virus-a1"><img src="img/virus-a1.png" alt="virus"></span>
					<span class="virus-a2"><img src="img/virus-a2.png" alt="virus"></span>
					<span class="virus-a3"><img src="img/virus-a3.png" alt="virus"></span>
				</div>
				<div class="description-box__title">Уничтожает</div>
				<div class="description-box__subtitle">все грибковые инфекции, моментально нейтрализует неприятный запах и снимает
					зуд</div>
			</div>
			<div class="description-box ">
				<div class="description-box__img box2">
					<img class="leg2" src="img/leg2.png" alt="leg">
					<span class="description-arrow"><img src="img/desc-arrow.svg" alt="arrow"></span>
				</div>
				<div class="description-box__title">Питает<br>
					и восстанавливает</div>
				<div class="description-box__subtitle">пораженные участки кожи и ногтя</div>
			</div>
			<div class="description-box">
				<div class="description-box__img">
					<img class="leg3" src="img/leg3.png" alt="leg">
					<span class="virus-b1"><img src="img/virus-b1.png" alt="virus"></span>
					<span class="virus-b2"><img src="img/virus-b2.png" alt="virus"></span>
					<span class="virus-b3"><img src="img/virus-b3.png" alt="virus"></span>
				</div>
				<div class="description-box__title">Защищает</div>
				<div class="description-box__subtitle">от повторного заражения, укрепляя природные силы организма</div>
			</div>
		</div>
		<div class="description-victory">Победите грибок<br> без сдачи анализов и обращения к врачам!</div>
	</div>
</section>