<section class="description section section-beige">
	<div class="wrapper">
		<h2 class="title">К чему может привести<br>
				запущенный <span class="green">варикоз</span></h2>
				<div class="description-content">
					<div class="description-box">
							<div class="description-box__img"><img src="img/description1.png" alt="Варикоз"></div>
							<div class="description-box__text">Незаживающие<br>
									трофические язвы</div>
					</div>
					<div class="description-box">
							<div class="description-box__img desci2"><img src="img/description2.png" alt="Варикоз"></div>
							<div class="description-box__text">Масштабное набухание<br>
									вен на ногах<br>
									и кровотечения</div>
					</div>
					<div class="description-box">
							<div class="description-box__img desci3"><img src="img/description3.png" alt="Варикоз"></div>
							<div class="description-box__text">Образование в сосудах тромбов, закупорка<br>
									сосудов</div>
					</div>
					<div class="description-box">
							<div class="description-box__img desci4"><img src="img/description4.png" alt="Варикоз"></div>
							<div class="description-box__text">Оторвавшийся тромб попадает в легкие<br>
									и приводит к тяжелым болезням</div>
					</div>
				</div>
				<div class="help-box">Зачем доводить до серьезных последствий?</div>
				<div class="btn fact-btn ever-popup-btn">Заказать</div>
	</div>
</section>