<section class="composition section section-line" id="composition">
    <div class="wrapper">
        <h2 class="title">
            Натуральные ингредиенты крема <span class="green">Varius</span>
        </h2>
        <p class="composition__subtitle">усилены современными технологиями</p>
        <h4 class="composition__banner">
            Экстракт виноградных косточек – это мощнейший антиоксидант.
        </h4>
        <!--main-content-->
        <div class="composition__main-container">
            <!--top-block-->
            <div class="composition__effect-box">

                <div class="composition__effect-info -radical">
                    <h4 class="composition__title">
                        Связывает свободные радикалы
                    </h4>
                    <p class="composition__additional -left">
                        Останавливается быстрый износ
                        вен и разрушение тканей.
                    </p>
                </div>

                <div class="composition__jug">
                    <img src="../img/d-drink.png" alt="jug">
                </div>

                <div class="composition__effect-info -elastic">
                    <h4 class="composition__title">
                        Укрепляет стенки сосудов, делает их эластичными
                    </h4>
                    <p class="composition__additional -right">
                        Вены возвращаются к своему нормальному состоянию, благодаря чему проходит набухание вен.
                    </p>
                </div>

            </div>
            <!--center-block-->
            <div class="composition__legend-box">
                <p class="composition__legend">
                    Косточки винограда считались ценным средством от варикоза еще несколько столетий назад.
                    Однако только благодаря последним технологиям стало возможным добывать
                    из&nbsp;них&nbsp;<span>максимально насыщенный концентрат.</span>
                </p>
            </div>

            <!--divider-->
            <div class="divider">
                <svg class="divider__triangle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 11">
                    <polygon class="one" points="0 0 1 0 15 10 29 0 30 0 15 11 0 0"></polygon>
                </svg>
                <div class="divider__check"></div>
            </div>

            <!--bottom-block-->
            <div class="composition__elements-box">
                <!--1-->
                <div class="composition__element-item -lavanda-item">
                    <div class="composition__element-image -lavanda-img">
                        <img src="../img/d-cup-lavanda.png" alt="lavanda">
                    </div>
                    <h4 class="composition__element-name">Экстракт лаванды
                        узколистной</h4>
                    <p class="composition__element-effect">
                        Снимает боль и улучшает
                        кровообращение, уменьшает
                        чувство тяжести и повышенной
                        утомляемости в ногах.
                    </p>
                </div>
                <!--2-->
                <div class="composition__element-item -imbir-item">
                    <div class="composition__element-image -imbir-img">
                        <img src="../img/d-cup-imbir.png" alt="imbir">
                    </div>
                    <h4 class="composition__element-name">Экстракт корня имбиря</h4>
                    <p class="composition__element-effect">
                        Противостоит воспалениям,
                        облегчает болевые ощущения,
                        снимает отеки.
                    </p>
                </div>
                <!--3-->
                <div class="composition__element-item -vitamin-item">
                    <div class="composition__element-image -vitamin-img">
                        <img src="../img/d-vitamin_e.png" alt="vitamin">
                    </div>
                    <h4 class="composition__element-name">Витамин Е</h4>
                    <p class="composition__element-effect">
                        Обладает антиоксидантными
                        свойствами, участвует в процессах тканевого метаболизма, улучшает состояние вен и уменьшает
                        судороги при варикозе.
                    </p>
                </div>

            </div>

        </div>
        <!--main-content END-->
    </div>
</section>