<section class="history section">
    <div class="wrapper">
				<div class="block-circle"><img src="img/block-circle.png" alt="circle"></div>
        <h2 class="title history__title">
            Почему таблетки <span class="orange">Микоцин</span> от грибка так&nbsp;эффективны?
        </h2>
        <h3 class="history__subtitle">
            Другие средства не дают полную защиту от грибковых инфекций и могут быть опасны
        </h3>
        <ul class="history__list">
            <li class="history__item history__item_gel">
                <div class="history__circle">
                    <div class="history__pick">
                        <img src="img/history-1.png" alt="" class="history__img">
                    </div>
                </div>
                <div class="history__item-tile">
                    Кремы и мази
                </div>
                <p class="history__desc">
                    <span class="history__desc-accent">Не лечат грибок, потому что не проникают в ногтевую пластину.</span> Только временно избавляют от симптомов инфекций. Могут вызвать сильную аллергию и раздражения на коже.
                </p>
            </li>
            <li class="history__item history__item_natural">
                <div class="history__circle">
                    <div class="history__pick">
                        <img src="img/history-2.png" alt="" class="history__img">
                    </div>
                </div>
                <div class="history__item-tile">
                    Народные методы
                </div>
                <p class="history__desc">
                    Помогают только в редких случаях. <span class="history__desc-accent">Могут причинить вред коже 
                    и ногтям.</span> Не предотвращают повторные заражения грибком.
                </p>
            </li>
            <li class="history__item history__item_tabl">
                <div class="history__circle">
                    <div class="history__pick">
                        <img src="img/pack.png" alt="" class="history__img">
                    </div>
                </div>
                <div class="history__item-tile">
                    Таблетки
                </div>
                <p class="history__desc">
                    <span class="history__desc-accent"> Действуют против всех видов грибков.</span> Быстро снимают неприятные 
                    симптомы и уничтожают инфекцию изнутри вне зависимости от области 
                    заражения грибком. Надолго защищают от повторных заражений.
                </p>
            </li>
        </ul>
        <div class="history__footnote">
            Зачем лечить сложнее, дольше и дороже, если есть <span class="orange">Микоцин?</span>
        </div>
    </div>
</section>