<section class="composition section">
    <div class="wrapper">
        <h2 class="title">Состав таблеток <span class="orange">Микоцин</span></h2>
        <h3 class="composition__subtitle">В основе средства лежат только натуральные компоненты</h3>
        <div class="composition__main">
            <div class="composition__row composition__row_first">
                <div class="composition__pack">
                    <img src="img/pack.png" alt="" class="composition__img">
                </div>
                <div class="composition__item composition__item_1">
                    <div class="composition__pic">
                        <img src="img/composition-1.png" alt="" class="composition__img">
                    </div>
                    <div class="composition__item-title">Экстракт Propolim <br> (прополис)</div>
                    <div class="composition__item-desc">
                        <span class="composition__item-accent">Подавляет</span> развитие бактерий, вирусов и убивает все виды грибковых инфекций, укрепляет защитные силы организма
                    </div>
                </div>
                <div class="composition__item composition__item_2">
                    <div class="composition__pic">
                        <img src="img/composition-2.png" alt="" class="composition__img">
                    </div>
                    <div class="composition__item-title">Экстракт Thymus (тимьян)</div>
                    <div class="composition__item-desc">
                        <span class="composition__item-accent">Восстанавливает</span> ногти и укрепляет их, оздоравливает кожу, создает губительную для бактерий среду
                    </div>
                </div>
            </div>
            <div class="composition__row composition__row_second">
                <div class="composition__item composition__item_3">
                    <div class="composition__pic">
                        <img src="img/composition-3.png" alt="" class="composition__img">
                    </div>
                    <div class="composition__item-title">Экстракт Echinacea <br> (эхинацея)</div>
                    <div class="composition__item-desc">
                        <span class="composition__item-accent">Борется</span> с грибками и патогенными микроорганизмами, ускоряет регенерацию клеток, повышает активность иммунной системы
                    </div>
                </div>
                <div class="composition__item composition__item_4">
                    <div class="composition__pic">
                        <img src="img/composition-4.png" alt="" class="composition__img">
                    </div>
                    <div class="composition__item-title">Экстракт Salvia <br> (шалфея)</div>
                    <div class="composition__item-desc">
                        <span class="composition__item-accent">Нормализует</span> состояние кожи, заживляет раны и раздражения, вызванные грибком
                    </div>
                </div>
            </div>
        </div>
        <div class="composition__footnote">Максимальная эффективность <br> без побочных эффектов и противопоказаний</div>
    </div>
</section>