<section class="doctor section section-line" id="doctor">
	<div class="wrapper">
		<h2 class="title doctor-title"><span class="green">Варикоз</span> – это не косметическая<br> проблема</h2>
		<div class="doctor-wrap">
			<div class="doctor-img">
				<img class="doctor-img__doctor" src="img/doctor.png" alt="">
				<img class="doctor-img__bg" src="img/doctor-leaf.png" alt="">
			</div>
			<div class="doctor-content">
				<p class="doctor-content__text">
					Варикоз несет реальную угрозу здоровью, и&nbsp;поэтому заниматься
					им&nbsp;нужно при первых же симптомах.
				</p>
				<p class="doctor-content__text">
					В&nbsp;своих исследованиях я&nbsp;увидел, что лучше всего справляются средства с&nbsp;антиоксидантным эффектом.
					Но некоторые из средств слишком дорогие, другие вызывают много побочных эффектов.
				</p>
				<p class="doctor-content__text">
					<span class="another">Крем Varius сочетает в&nbsp;себе эффективность самых дорогих средств и&nbsp;доступность.</span>
					Поэтому я и&nbsp;сам им пользуюсь и&nbsp;всем его советую.
				</p>
				<p class="doctor-content__text">
					Этот крем натуральный, он&nbsp;создан на основе экстрактов косточек винограда, а&nbsp;это очень мощное средство против симптомов варикоза.
				</p>
				<p class="doctor-content__text">
					<span class="another">Он снимает отеки, усталость, убирает венозную сетку, расчищает сосуды от&nbsp;застоявшейся крови и нормализует кровообращение в&nbsp;тканях.</span>
				</p>
				<p class="doctor-content__text">
					<span class="another">Сосуды после курса Varius становятся крепкими, эластичными,</span><br>
					а&nbsp;это важный фактор против возвращения варикозного<br> расширения вен.
				</p>
				<div class="doctor-info">
					<p class="doctor-info__name">Майкл Джонс,</p>
					<p class="doctor-info__descr">эксперт в области красоты и здоровья</p>
				</div>
			</div>
		</div>
	</div>
</section>