<section class="doctor section" id="doctor">
	<div class="wrapper">
		<div class="block-circle"><img src="img/block-circle.png" alt="circle"></div>
		<h2 class="title">«Грибок опасен, и сам по себе не пройдет»</h2>
		<div class="doctor-content">
			<div class="doctor-content__person"><img src="img/doctor.png" alt="doctor"></div>
			<div class="doctor-content__box">
				<p class="doctor-content__text">Грибок – не просто косметическая проблема. Если его запустить<br>
					и не лечить, он может привести к потере ногтей и серьезному поражению внутренних органов.</p>
				<p class="doctor-content__text">При лечении важно понимать, какой именно инфекцией человек заражен. Ведь, к
					сожалению, анализы не дают никакой конкретики,<br>
					и часто прописанные от грибка лекарства не приносят желаемого результата.</p>
				<p class="doctor-content__text"><b>Мази, кремы, хирургические удаления ногтевых пластин, спиливание ногтя – здесь
						бесполезны.</b> Они могут облегчить симптомы, помогут устранить какой-то определенный вид грибка, не затрагивая
					остальные грибковые инфекции. </p>
				<p class="doctor-content__text"><b>
						Я рекомендую таблетки «Микоцин». Он убивает все виды грибка, даже спящие инфекции, запускает процессы
						восстановления кожи<br>
						и ногтя и защищает от повторного заражения грибком.<br>
						При этом он натуральный, а это значит безопасный.</b></p>
				<div class="doctor-content__biog">
					<div class="first-bio">
						<div class="doctor-content__name">Дмитрий Савельев,</div>
						<div class="doctor-content__who">ведущий врач-миколог частной клиники</div>
					</div>
					<div class="doctor-content__autograph"><img src="img/autograph.png" alt="autograph"></div>
				</div>
			</div>
		</div>
	</div>
</section>