<section class="power section">
    <div class="wrapper">
        <h2 class="title power__title">
            Для усиления антибактериального эффекта <span class="orange">таблеток Микоцин</span> вы также можете
            использовать <span class="green">гель Микоцин</span>
        </h2>
        <div class="power__main">
            <div class="power__left">
                <div class="power__pack">
                    <img src="img/pack-green.png" alt="" class="power__img">
                </div>
            </div>
            <div class="power__right">
                <ul class="power__list">
                    <li class="power__item">
                        <p class="power__item-desc">
                            <span class="power__item-accent">Проникает</span> <br>
                            глубоко в&nbsp;ногтевую пластину
                        </p>
                    </li>
                    <li class="power__item">
                        <p class="power__item-desc">
                                <span class="power__item-accent">Уничтожает</span> все виды грибков 
                            и&nbsp;неприятный запах
                        </p>
                    </li>
                    <li class="power__item">
                        <p class="power__item-desc">
                                <span class="power__item-accent">Создает</span> защитный барьер на коже 
                            и&nbsp;ногте
                        </p>
                    </li>
                </ul>
                <div class="power__btn">
                    <button class="btn ever-popup-btn">Заказать <span class="power__btn-small">со скидкой</span></button>
                </div>
            </div>
        </div>
    </div>
</section>