<section class="reviews section section-beige" id="reviews">
	<div class="wrapper">
		<h2 class="title reviews-title">Отзывы</h2>
		<div class="reviews-slider">
			<div class="reviews-item">
				<div class="reviews-img">
					<img class="reviews-img__item" src="./img/reviews-item1.png" alt="">
					<img class="reviews-img__item" src="./img/reviews-item1.1.png" alt="">
				</div>
				<h4 class="reviews-item__title">Карина, 31 год, г.&nbsp;Бандунг</h4>
				<p class="reviews-item__conclusion">
					“Прошла регулярная<br> усталость ног”
				</p>
				<span class="reviews-item__line"></span>
				<p class="reviews-item__text">
					Работаю официанткой и&nbsp;весь день провожу на ногах и&nbsp;в&nbsp;бегах между кухней и&nbsp;столиками.
					Когда заметила, что под вечер ноги стали сильнее уставать, решила сразу же действовать.
					Крем Varius подруга посоветовала, она массажистка и&nbsp;с&nbsp;ее&nbsp;стоячей работой у нее тоже ноги болят под вечер сильно.
					Стала мазаться им. По ощущениям моим, то&nbsp;усталость ног перестала накатывать где-то за пять дней.
					А&nbsp;после всего курса ноги вообще перестали по вечерам болеть. Я&nbsp;очень довольна.
				</p>
				<span class="reviews-item__button js-reviews-add-class"></span>
			</div>
			<div class="reviews-item">
				<div class="reviews-img">
					<img class="reviews-img__item" src="./img/reviews-item2.png" alt="">
					<img class="reviews-img__item" src="./img/reviews-item2.1.png" alt="">
				</div>
				<h4 class="reviews-item__title">Марина, 39 лет, г.&nbsp;Сурабая</h4>
				<p class="reviews-item__conclusion">
					“Вены разгладились<br> и&nbsp;стали чистыми”
				</p>
				<span class="reviews-item__line"></span>
				<p class="reviews-item__text">
					У нас варикоз – это семейное. У&nbsp;мамы, у&nbsp;бабушки был варикоз и&nbsp;я&nbsp;очень боялась, что и&nbsp;у меня он&nbsp;тоже будет. Так и&nbsp;произошло.
					Вены на ногах напухли. На ощупь было неприятно, так ноги и&nbsp;болели к&nbsp;тому же.
					Дальше ранки бы появились на венах, я&nbsp;знаю, у мамы так и&nbsp;было. Но до этого не дошло.
					Меня спас крем Varius. Очень была приятно удивлена. Пока пользовалась им, вены начали разглаживаться и становится не такими синими.
					После всего курса о&nbsp;варикозе я&nbsp;забыла совсем. Даже маме купила, она теперь мажется и&nbsp;она тоже довольная – ей тоже помогает.
				</p>
				<span class="reviews-item__button js-reviews-add-class"></span>
			</div>
			<div class="reviews-item">
				<div class="reviews-img">
					<img class="reviews-img__item" src="./img/reviews-item3.png" alt="">
					<img class="reviews-img__item" src="./img/reviews-item3.1.png" alt="">
				</div>
				<h4 class="reviews-item__title">Анна, 38 лет, г.&nbsp;Депок</h4>
				<p class="reviews-item__conclusion">
					“Быстро убрала венозную сетку<br> и&nbsp;забыла о&nbsp;варикозе”
				</p>
				<span class="reviews-item__line"></span>
				<p class="reviews-item__text">
					Очень рада, что нашла крем вариус. Я&nbsp;благодаря ему смогла забыть о&nbsp;варикозе очень надолго.
					У&nbsp;меня на&nbsp;бедрах венозная сетка появилась – это было очень и&nbsp;очень некрасиво и&nbsp;я даже стала носить брюки, хоть и&nbsp;не люблю их.
					А&nbsp;после того, как стала вариусом пользоваться, сосуды стали нормального цвета.
					Я&nbsp;их не вижу – а значит и&nbsp;варикоз прошел. Я уде&nbsp;два месяце не пользуюсь кремом, а&nbsp;варикоз пока не возвращается.
				</p>
				<span class="reviews-item__button js-reviews-add-class"></span>
			</div>
		</div>
		<p class="reviews-conclusion">* Результаты могут варьироваться в&nbsp;зависимости индивидуальных особенностей&nbsp;организма</p>
		<div class="btn reviews-btn ever-popup-btn">Заказать</div>
	</div>
</section>