<section class="reviews section section-beige" id="reviews">
	<div class="wrapper">
		<h2 class="title reviews-title">Отзывы</h2>
		<div class="reviews-slider">
			<div class="reviews-item">
				<div class="reviews-img">
					<img class="reviews-img__item" src="./img/reviews-item1.png" alt="">
					<img class="reviews-img__item" src="./img/reviews-item1.1.png" alt="">
				</div>
				<h4 class="reviews-item__title">Карина, 31 год, г.&nbsp;Бандунг</h4>
				<p class="reviews-item__conclusion">
					“Прошла регулярная<br> усталость ног”
				</p>
				<span class="reviews-item__line"></span>
				<p class="reviews-item__text">
					Работаю официанткой и&nbsp;весь день провожу на ногах и&nbsp;в&nbsp;бегах между кухней и&nbsp;столиками.
					Когда заметила, что под вечер ноги стали сильнее уставать, решила сразу же действовать.
					Крем Varius подруга посоветовала, она массажистка и&nbsp;с&nbsp;ее&nbsp;стоячей работой у нее тоже ноги болят под вечер сильно.
					Стала мазаться им. По ощущениям моим, то&nbsp;усталость ног перестала накатывать где-то за пять дней.
					А&nbsp;после всего курса ноги вообще перестали по вечерам болеть. Я&nbsp;очень довольна.
				</p>
				<span class="reviews-item__button js-reviews-add-class"></span>
			</div>
			<div class="reviews-item">
				<div class="reviews-img">
					<img class="reviews-img__item" src="./img/reviews-item2.png" alt="">
					<img class="reviews-img__item" src="./img/reviews-item2.1.png" alt="">
				</div>
				<h4 class="reviews-item__title">Марина, 39 лет, г.&nbsp;Сурабая</h4>
				<p class="reviews-item__conclusion">
					“Вены разгладились<br> и&nbsp;стали чистыми”
				</p>
				<span class="reviews-item__line"></span>
				<p class="reviews-item__text">
					У нас варикоз – это семейное. У&nbsp;мамы, у&nbsp;бабушки был варикоз и&nbsp;я&nbsp;очень боялась, что и&nbsp;у меня он&nbsp;тоже будет. Так и&nbsp;произошло.
					Вены на ногах напухли. На ощупь было неприятно, так ноги и&nbsp;болели к&nbsp;тому же.
					Дальше ранки бы появились на венах, я&nbsp;знаю, у мамы так и&nbsp;было. Но до этого не дошло.
					Меня спас крем Varius. Очень была приятно удивлена. Пока пользовалась им, вены начали разглаживаться и становится не такими синими.
					После всего курса о&nbsp;варикозе я&nbsp;забыла совсем. Даже маме купила, она теперь мажется и&nbsp;она тоже довольная – ей тоже помогает.
				</p>
				<span class="reviews-item__button js-reviews-add-class"></span>
			</div>
			<div class="reviews-item">
				<div class="reviews-img">
					<img class="reviews-img__item" src="./img/reviews-item3.png" alt="">
					<img class="reviews-img__item" src="./img/reviews-item3.1.png" alt="">
				</div>
				<h4 class="reviews-item__title">Анна, 38 лет, г.&nbsp;Депок</h4>
				<p class="reviews-item__conclusion">
					“Быстро убрала венозную сетку<br> и&nbsp;забыла о&nbsp;варикозе”
				</p>
				<span class="reviews-item__line"></span>
				<p class="reviews-item__text">
					Очень рада, что нашла крем вариус. Я&nbsp;благодаря ему смогла забыть о&nbsp;варикозе очень надолго.
					У&nbsp;меня на&nbsp;бедрах венозная сетка появилась – это было очень и&nbsp;очень некрасиво и&nbsp;я даже стала носить брюки, хоть и&nbsp;не люблю их.
					А&nbsp;после того, как стала вариусом пользоваться, сосуды стали нормального цвета.
					Я&nbsp;их не вижу – а значит и&nbsp;варикоз прошел. Я уде&nbsp;два месяце не пользуюсь кремом, а&nbsp;варикоз пока не возвращается.
				</p>
				<span class="reviews-item__button js-reviews-add-class"></span>
			</div>
			<div class="reviews-item">
				<div class="reviews-img">
					<img class="reviews-img__item" src="./img/reviews-item4.png" alt="">
					<img class="reviews-img__item" src="./img/reviews-item4.1.png" alt="">
				</div>
				<h4 class="reviews-item__title">Марико, 43 года, г.&nbsp;Медан</h4>
				<p class="reviews-item__conclusion">
					“Лучше, чем варикозные<br> чулки”
				</p>
				<span class="reviews-item__line"></span>
				<p class="reviews-item__text">
					Когда у&nbsp;меня варикоз начался, я&nbsp;купила себе несколько пар&nbsp;компрессионных чулков.
					Это&nbsp;специальные такие гольфы, которые стягивают ноги и&nbsp;не дают венам расширяться и выпирать <span class="ib">из-под</span> кожи. Носить их&nbsp;было очень неудобно и&nbsp;неприятно.
					У&nbsp;меня было такое чувство, что ноги стягивают какими-то пленками. И работать было неудобно.
					Я решила попробовать что-то другое и выбрала вариус. Это специальный крем против варикоза и он мне как раз помог.
					За две недели ноги перестали болеть по&nbsp;вечерам, прошло чувство тяжести, покалывания. Очень рада, что быстро нашла хорошее и&nbsp;надежное средство.
				</p>
				<span class="reviews-item__button js-reviews-add-class"></span>
			</div>
			<div class="reviews-item">
				<div class="reviews-img">
					<img class="reviews-img__item" src="./img/reviews-item5.png" alt="">
					<img class="reviews-img__item" src="./img/reviews-item5.1.png" alt="">
				</div>
				<h4 class="reviews-item__title">Максим, 47 лет, г.&nbsp;Паданг</h4>
				<p class="reviews-item__conclusion">
					“Избежал операции и&nbsp;избавился от&nbsp;варикоза”
				</p>
				<span class="reviews-item__line"></span>
				<p class="reviews-item__text">
					Варикоз у&nbsp;меня появился 5&nbsp;лет назад. Сначала я&nbsp;на него особо внимания и&nbsp;не обращал.
					Думал, что это возрастное и&nbsp;что от него никуда и&nbsp;никому не&nbsp;деться.
					Но когда сосуды сильнее потемнели и перешли с икр на бедра и когда ноги стали регулярно болеть, я&nbsp;решил действовать.
					Стал пробовать разные народные методы, но ничего особенно и не помогало. Я уже опасался, что дело дойдет до операции по склеиванию вен, но нет.
					Крем вариус стал моим спасением. Я с&nbsp;ним постепенно привел вены в&nbsp;норму. Они посветлели, даже на ощупь больше не ощущались.
					Еще заметил, что ноги как-то сильнее стали. Мог после работы пройтись и&nbsp;не почувствовать усталости, а&nbsp;раньше на автобусе ехал.
				</p>
				<span class="reviews-item__button js-reviews-add-class"></span>
			</div>
			<div class="reviews-item">
				<div class="reviews-img">
					<img class="reviews-img__item" src="./img/reviews-item6.png" alt="">
					<img class="reviews-img__item" src="./img/reviews-item6.1.png" alt="">
				</div>
				<h4 class="reviews-item__title">Ирина, 54 лет, г.&nbsp;Чимахи</h4>
				<p class="reviews-item__conclusion">
					“Сильные боли<br> в ногах прошли”
				</p>
				<span class="reviews-item__line"></span>
				<p class="reviews-item__text">
					Варикоз заявил о&nbsp;себе сильными болями в ногах и&nbsp;вздутыми венами. От болей я&nbsp;стала пить обезболивающие таблетки.
					Но&nbsp;я&nbsp;понимала, что надо было искать решение, а&nbsp;не просто боль притуплять вот и&nbsp;нашла varius.
					Крем очень хорошо справился. Я&nbsp;даже не ожидала такого. Боли прошли быстро. Вздутие вен уменьшилось в&nbsp;несколько раз, сейчас почти не&nbsp;видны.
					Посоветовала его всем подругам, потому что постоянно мазать обезболивающие кремы – это пустая трата денег.
				</p>
				<span class="reviews-item__button js-reviews-add-class"></span>
			</div>
			<div class="reviews-item">
				<div class="reviews-img">
					<img class="reviews-img__item" src="./img/reviews-item7.png" alt="">
					<img class="reviews-img__item" src="./img/reviews-item7.1.png" alt="">
				</div>
				<h4 class="reviews-item__title">Иван, 31 год, г.&nbsp;Палу</h4>
				<p class="reviews-item__conclusion">
					“Восстановил ноги<br> после спорта”
				</p>
				<span class="reviews-item__line"></span>
				<p class="reviews-item__text">
					Мне вариус бывший тренер посоветовал, за что я&nbsp;ему каждый день благодарен. Я&nbsp;несколько лет играл в&nbsp;футбол.
					На&nbsp;ногах это отразилось не&nbsp;очень хорошо – варикоз. Судороги сильные по ночам, боли, а&nbsp;еще отеки и&nbsp;вены темные.
					Решил, что надо что-то с&nbsp;этим делать, после того, как видео посмотрел, до чего может довести варикоз.
					Понравилось, что это обычный крем, что все что нужно – это намазать на ноги и растереть.
					Еще, он&nbsp;не вызывает аллергий, а&nbsp;у меня кожа чувствительная к&nbsp;таким препаратам. С&nbsp;вариусом же все хорошо.
					После полного курса ноги болеть перестали, так же прошли судороги – я&nbsp;стал спокойно спать и&nbsp;ходить на&nbsp;пробежки.
				</p>
				<span class="reviews-item__button js-reviews-add-class"></span>
			</div>
			<div class="reviews-item">
				<div class="reviews-img">
					<img class="reviews-img__item" src="./img/reviews-item8.png" alt="">
					<img class="reviews-img__item" src="./img/reviews-item8.1.png" alt="">
				</div>
				<h4 class="reviews-item__title">Эльдар, 46 лет, г.&nbsp;Манадо</h4>
				<p class="reviews-item__conclusion">
					“Вернулся<br> на работу”
				</p>
				<span class="reviews-item__line"></span>
				<p class="reviews-item__text">
					Привет. Я&nbsp;работал в&nbsp;супермаркете и&nbsp;из-за варикоза пришлось уйти, потому что не мог долго стоять на&nbsp;ногах.
					Ноги сильно болели, ощущалось сильное гудение, покалывание и&nbsp;даже онемение. Я&nbsp;почитал про эти симптомы и&nbsp;понял, что это варикоз.
					Как избавиться от&nbsp;симптомов мне подсказала близкая подруга. Она всегда в курсе что и чем лечить.
					Попробовал и&nbsp;мне помогло. И боли, и&nbsp;онемения прошли. Я&nbsp;мог после курса не&nbsp;просто стоять, но и танцевать. На работу вернулся и&nbsp;работаю с&nbsp;удовольствием.
				</p>
				<span class="reviews-item__button js-reviews-add-class"></span>
			</div>
			<div class="reviews-item">
				<div class="reviews-img">
					<img class="reviews-img__item" src="./img/reviews-item9.png" alt="">
					<img class="reviews-img__item" src="./img/reviews-item9.1.png" alt="">
				</div>
				<h4 class="reviews-item__title">Мария, 52 года, г.&nbsp;Палу</h4>
				<p class="reviews-item__conclusion">
					“Отеки прошли<br> очень быстро”
				</p>
				<span class="reviews-item__line"></span>
				<p class="reviews-item__text">
					Когда мои ноги стали сильно опухать я&nbsp;сильно испугалась. Но&nbsp;сестра меня успокоила, сказала, что это просто варикоз.
					И&nbsp;действительно, это был просто варикоз. Мне повезло, что я&nbsp;не стала пробовать опасные методы, а&nbsp;просто купила вариус.
					Это такой крем. Стала мазать им ноги. Не сразу, но&nbsp;отеки стали проходить.
					Еще мне стало легко ходить, даже если я&nbsp;ходила по целому часу, еще кожа на&nbsp;ногах стала лучше выглядеть.

				</p>
				<span class="reviews-item__button js-reviews-add-class"></span>
			</div>
			<div class="reviews-item">
				<div class="reviews-img">
					<img class="reviews-img__item" src="./img/reviews-item10.png" alt="">
					<img class="reviews-img__item" src="./img/reviews-item10.1.png" alt="">
				</div>
				<h4 class="reviews-item__title">Мира, 37 год, г.&nbsp;Текал</h4>
				<p class="reviews-item__conclusion">
					“Снова<br> могу танцевать”
				</p>
				<span class="reviews-item__line"></span>
				<p class="reviews-item__text">
					Мне пришлось на&nbsp;время бросить танцы из-за варикоза. Ноги болели сильно, когда танцевала и&nbsp;вечером, когда домой приходила.
					Ванночки не помогали, легкий массаж тоже, а&nbsp;вот вариус помог мне, чему я&nbsp;очень рада.
					Правда, сначала я&nbsp;им неправильно пользовалась, всего раз в&nbsp;день.
					Эффект тоже был, но&nbsp;слабый. Когда перечитала инструкцию, то уже стала мазаться кремом утром и вечером.
					Боли ушли и&nbsp;пока не&nbsp;возвращаются, после 1 полного курса. Ноги я&nbsp;снова нагружаю – на танцы вернулась, и&nbsp;все нормально.
				</p>
				<span class="reviews-item__button js-reviews-add-class"></span>
			</div>
		</div>
		<p class="reviews-conclusion">* Результаты могут варьироваться в&nbsp;зависимости индивидуальных особенностей&nbsp;организма</p>
		<div class="btn reviews-btn ever-popup-btn">Заказать</div>
	</div>
</section>