<section class="order section section-line" id="order">
    <div class="wrapper">
				<div class="wrapper">
						<h2 class="title">Как заказать доставку <span class="green">Varius</span></h2>
						<div class="use-content">
								<div class="use-box">
									<div class="use-box__img">
										<img src="img/order-1.png" alt="order-1">
										
									</div>
									<div class="use-box__text">Заполните<br>
											форму заказа</div>
										<div class="order-box__stext">Укажите только свое имя<br>
												и номер телефона</div>
								</div>
									<div class="use-box lr-line">
									<div class="use-box__img usei2">
											<img src="img/order-2.png" alt="order-2">
											
										</div>
										<div class="use-box__text">Ответьте на звонок<br> оператора</div>
										<div class="order-box__stext">Он уточнит ваши адресные<br> данные и ответит на все<br> вопросы о Varius</div>
										</div>
										<div class="use-box">
										<div class="use-box__img usei3">
												<img src="img/order-3.png" alt="order-3">
												
											</div>
											<div class="use-box__text">Оплатите <span class="orange">после<br> получения</span>
												</div>
												<div class="order-box__stext">Никаких предоплат!</div>
											</div>
								</div>
						</div>
    </div>
</section>