<section class="reviews section" id="reviews">
	<div class="wrapper">
		<div class="block-circle"><img src="img/block-circle.png" alt="circle"></div>
		<h2 class="title">Отзывы</h2>
		<div class="reviews-content">
			<div class="reviews-content-box">
				<div class="reviews-content__img"><img src="img/avatar1.png" alt="avatar"></div>
				<div class="reviews-content__name">Андрей, 44 года,<br> г. Киров</div>
				<div class="reviews-content__briefly">Избавился от грибка<br> без врачей и анализов</div>
				<div class="reviews-content__body">
					<div class="reviews-content__text">У меня был грибок на большом пальце ноги, я думал, что он пройдет<br>
						сам по себе, а когда грибок на другие пальцы перекинулся, я понял, что пора лечить. Сдал все что нужно, врач
						определил тип грибка и стали<br>
						мы лечится. Месяц пролечился<br> и грибок вроде стал уходить, но через 2 недельки вернулся. Врач сказал, что это
						уже другой грибок и теперь надо другие средство пробовать. Я другое средство заказал, но сам стал думать, а есть
						ли препарат от всех видов грибка, чтоб не бегать постоянно по больницам. Ну и нашел таблетки Микоцин. Их пропил и
						уже два месяца, как нет никакого грибка.
					</div>
				</div>
				<div class="reviews-content-box__btn">
					<div class="reviews-content-box__cbtn"></div>
				</div>
			</div>
			<div class="reviews-content-box">
				<div class="reviews-content__img"><img src="img/avatar2.png" alt="avatar"></div>
				<div class="reviews-content__name">Константин, 30 лет,<br> г. Минск</div>
				<div class="reviews-content__briefly">Очень удобная<br>
					форма выпуска</div>
				<div class="reviews-content__body">
					<div class="reviews-content__text">Мне микоцин знакомый посоветовал. Он им смог ноги после армии от грибка
						вылечить. Я решил попробовать,<br>
						тем более, что там скидка была. Понравилось, что это не крем,<br>
						а таблетки. Мне так удобней,<br>
						что не нужно ноги ничем мазать - выпил таблетку и все. Еще хочу сказать, что эффект проявился очень быстро.
						Ступни перестали чесаться, стали выглядеть более здоровыми. Грибок ушел.

					</div>
				</div>
				<div class="reviews-content-box__btn">
					<div class="reviews-content-box__cbtn"></div>
				</div>
			</div>
			<div class="reviews-content-box">
				<div class="reviews-content__img"><img src="img/avatar3.png" alt="avatar"></div>
				<div class="reviews-content__name">Тамара, 28 лет,<br> г. Владимир</div>
				<div class="reviews-content__briefly">Сработал даже лучше, <br>
					чем думала
				</div>
				<div class="reviews-content__body">
					<div class="reviews-content__text">Я своего мужа от грибка микоцином вылечила, чему очень и очень рада.<br>
						Он у меня упрямый и в больницу ходить не стал, что понять, от какого грибка лечиться. Поэтому я искала что-то,<br>
						что поможет от всех грибков.<br>
						На форуме одном, где врачи переписываются увидела, что кто-то Микоцин рекомендовал. Я его нашла, заказала и мужа
						заставила пропить. Он не верил, что какие-то таблетки помогут от грибка, но через неделю сказал, что микоцин
						помогает. Ступни стало более здоровыми, ногти он обрезал и отрастают они здоровыми.</div>
				</div>
				<div class="reviews-content-box__btn">
					<div class="reviews-content-box__cbtn"></div>
				</div>
			</div>
			<div class="reviews-content-box">
				<div class="reviews-content__img"><img src="img/avatar4.jpg" alt="avatar"></div>
				<div class="reviews-content__name">Катерина, 21 год,<br> г. Архангельск</div>
				<div class="reviews-content__briefly">Грибок прошел в кратчайшие сроки</div>
				<div class="reviews-content__body">
					<div class="reviews-content__text">Подцепила грибок в нашем бассейне, хотя хожу туда уже целый год и раньше
						проблем не было никаких. Врач сказала, что у меня иммунитет упал и поэтому всякие болячки и цепляются.
						Порекомендовали микоцин, сказали, он и грибковые инфекции все убивает в организме и повышает иммунитет, что
						грибок больше не прицепится. Им я и лечилась и ступни перестали чесаться в кратчайшие сроки. Но я все равно весь курс
						пропила, чтобы уже наверняка от грибка избавиться и домой его не принести.
					</div>
				</div>
				<div class="reviews-content-box__btn">
					<div class="reviews-content-box__cbtn"></div>
				</div>
			</div>

			<div class="reviews-content-box">
				<div class="reviews-content__img"><img src="img/avatar5.jpg" alt="avatar"></div>
				<div class="reviews-content__name">Владимир, 60 лет,<br> г. Томск</div>
				<div class="reviews-content__briefly">Хороший препарат</div>
				<div class="reviews-content__body">
					<div class="reviews-content__text">От грибка микоцин очень хорошо помогает, только волновался, когда мне долго не
						перезванивали. Минут 20, наверное. И связь была не очень хорошая. Сама посылка приехала быстро, а таблетки
						оказались очень хорошими. С кремом не так удобно - нужно долго ждать, пока впитается, ни носки, ни тапки не
						наденешь. Ступни спустя четыре недели пришли в полный порядок.
					</div>
				</div>
				<div class="reviews-content-box__btn">
					<div class="reviews-content-box__cbtn"></div>
				</div>
			</div>
			<div class="reviews-content-box">
				<div class="reviews-content__img"><img src="img/avatar6.jpg" alt="avatar"></div>
				<div class="reviews-content__name">Михаил, 43 лет,<br> г. Брест</div>
				<div class="reviews-content__briefly">Никаких побочных эффектов
				</div>
				<div class="reviews-content__body">
					<div class="reviews-content__text">Я себе и своему отцу заказал микоцин. Сначала скептически относился, просто
						привык, что против такой дряни, как грибок только кремы и мази. А тут таблетки. Еще мне было важно, чтобы никаких
						побочных эффектов не было, у меня печень и так уже пережила много чего, таблетками добивать ее не хотелось.
						Почитал, написано, что нет побочек, ну и заказал. Неделю сам пил - ступни стали в норму приходить, запах ушел,
						перестали чесаться, ногти обрезал и тоже вроде хорошо все. Тогда и отцу заказал и ему тоже помогает. Хорошая
						вещь.</div>
				</div>
				<div class="reviews-content-box__btn">
					<div class="reviews-content-box__cbtn"></div>
				</div>
			</div>
			<div class="reviews-content-box">
				<div class="reviews-content__img"><img src="img/avatar7.jpg" alt="avatar"></div>
				<div class="reviews-content__name">Эльдар, 19 лет,<br> г. Сыктывкар</div>
				<div class="reviews-content__briefly">Избавился от грибка<br> и поднял иммунитет</div>
				<div class="reviews-content__body">
					<div class="reviews-content__text">Грибком заразился в походе, когда долго в мокрой обуви ходил и сначала как-то
						внимания не обратил, думал, что ничего страшного не будет, ну просто ступни будут чесаться и все тут. Но через
						неделю стало хуже: ногти на больших пальцах стали расслаиваться, на ступнях кожа стала шелушиться и ранки
						появляться стали. Тогда понял, что пора лечить, а то стыдно было уже носки снять при домашних своих. Микоцин
						посоветовал знакомый, он в аптеке работает. Сказал, что его только в интернете можно купить, но что он того стоит
						- от всех грибков помогает, а их множество. Стал пить таблетки эти вместе с витаминами для иммунитета. За 1 месяц
						- ноги в норме, от грибка ничего не осталось.
					</div>
				</div>
				<div class="reviews-content-box__btn">
					<div class="reviews-content-box__cbtn"></div>
				</div>
			</div>
			<div class="reviews-content-box">
				<div class="reviews-content__img"><img src="img/avatar8.jpg" alt="avatar"></div>
				<div class="reviews-content__name">Мария, 35 лет,<br> г. Волгоград</div>
				<div class="reviews-content__briefly">Защитила всю семью<br> от грибка</div>
				<div class="reviews-content__body">
					<div class="reviews-content__text">Когда у мужа стали чесаться ступни, я обработала уксусом всю его обувь, а часть
						выкинула и сразу же побежала к подруге, она в больнице работает. Мне грибка дома не нужно, у нас двое детей,
						портить им здоровье не вариант. Подруга порекомендовала купить микоцин - это таблетки от грибковых инфекций.
						Сказала, что сейчас самое верное средство, с ним анализы делать не нужно, убивает все типы грибка. Я заказала и
						себе, и мужу. За дом и детей спокойна, муж вылечен.
					</div>
				</div>
				<div class="reviews-content-box__btn">
					<div class="reviews-content-box__cbtn"></div>
				</div>
			</div>
			<div class="reviews-content-box">
				<div class="reviews-content__img"><img src="img/avatar9.jpg" alt="avatar"></div>
				<div class="reviews-content__name">Анатолий, 62 года,<br> г. Екатеринбург</div>
				<div class="reviews-content__briefly">Хорошее натуральное средство</div>
				<div class="reviews-content__body">
					<div class="reviews-content__text">Выбрал таблетки микоцин за то, что он от всех грибков избавляет и не нужно по
						больницам бегать, чтоб выявить от чего лечиться надо. Еще большой плюс в их пользу, что они натуральные и без
						химии. У меня на химию реакция очень сильная и я таблетки вообще пить боюсь, а с микоцином проблем не было. Еще
						интересно, что он кожу оздоравливает и от грибка защищает. Наверное иммунитет поднял мне, потому что уже 2 месяца
						прошла, а грибок никакой ко мне не прицепился.
					</div>
				</div>
				<div class="reviews-content-box__btn">
					<div class="reviews-content-box__cbtn"></div>
				</div>
			</div>
			<div class="reviews-content-box">
				<div class="reviews-content__img"><img src="img/avatar10.jpg" alt="avatar"></div>
				<div class="reviews-content__name">Борис, 54 года,<br> г. Тверь</div>
				<div class="reviews-content__briefly">Сэкономил время<br> и вылечился без больниц</div>
				<div class="reviews-content__body">
					<div class="reviews-content__text">Купил в форме таблеток, потому что в форме мази не нашел. Для меня таблетки -
						это не приемлемо, но выхода не было другого, так как грибок достал, а бегать по больницам и постоянно анализы
						сдавать времени, денег и нервов нету. От грибка избавился где-то за месяц. Но сама форма выпуска таблетки, для
						меня непривычна. В виде мази лично мне было бы удобнее, но таблетки тоже подействовали.
					</div>
				</div>
				<div class="reviews-content-box__btn">
					<div class="reviews-content-box__cbtn"></div>
				</div>
			</div>
		</div>
	</div>
</section>