<section class="use section">
	<div class="wrapper">
		<h2 class="title">Как применять <span class="orange">Микоцин</span></h2>
		<div class="use-content">
			<div class="use-content-box">
				<img class="use-content__glass" src="img/glass.png" alt="glass">
				<img src="img/pack.png" alt="Микоцин" class="use-content__pack">
			</div>
			<div class="use-content-box">
				<div class="use-content__right">
					<div class="use-content__img"><img src="img/use1.svg" alt="use"></div>
					<div class="use-content__text">Принимать по 1 таблетке<br>
						утром и вечером</div>
				</div>
				<div class="use-content__right">
						<div class="use-content__img"><img src="img/use2.svg" alt="use"></div>
						<div class="use-content__text">Запивать стаканом воды</div>
					</div>
					<div class="use-content__right">
							<div class="use-content__img"><img src="img/use3.svg" alt="use"></div>
							<div class="use-content__text">Курс – от 30 дней</div>
						</div>
			</div>
		</div>
	</div>
</section>