<footer class="footer">
    <div class="wrapper">
		<div class="footer-content">
			<div class="footer-content__left"><b>Микоцин</b><br>Copyright <span class="date-0" data-format="year">2019</span></div>
			<div class="footer-content__center"><a href="privacy.html" class="footer__privacy" target="_blank">Политика конфиденциальности</a><br>
					<span class="footer-textdn">г. Москва, Михайловский Верхн. 4-й проезд, д. 10, кор. 3</span></div>
			<div class="footer-content__right">ИНН 7707251637<br>ОГРН 1157735921758</div>
		</div>
    </div>
</footer>