.header {
	background: url(../img/header-bg.jpg) no-repeat center #fff1e1;
	height: 756px;
	max-height: 756px;

	.wrapper {
		position: relative;
		z-index: 0;
	}

	&-logo {
		position: absolute;
		top: 40px;
		left: 0;
		z-index: 2;

		&__img {}

		&__text {
			color: #444444;
			font-size: 15px;
			font-weight: 400;
			line-height: 0;
			margin-top: 5px;
		}
	}

	&-legs {
		position: absolute;
		left: -217px;
		top: 0;
		z-index: 1;
	}

	&-content {
		padding-top: 35px;
		width: 705px;
		margin-left: auto;

	}

	&-nav {
		display: flex;
		justify-content: space-between;

		&__list {
			color: #444444;
			font-family: Roboto;
			font-size: 17px;
			font-weight: 400;
			line-height: 24px;
			text-decoration: underline;
			padding-left: 57px;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			&:hover{
				text-decoration: none;
			}
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;

				background: url(../img/nav-icon1.svg) no-repeat center;
				height: 42px;
				width: 42px;
			}

			&:nth-child(2) {
				&:before {
					background: url(../img/nav-icon2.svg) no-repeat center;
					width: 42px;
					height: 36px;
					top: 50%;
					transform: translateY(-50%);
				}
			}

			&:nth-child(3) {
				padding-left: 48px;

				&:before {
					background: url(../img/nav-icon3.svg) no-repeat center;
					width: 34px;
					height: 43px;
					top: 50%;
					transform: translateY(-46%);
				}
			}
		}
	}

	&-main {
		margin-top: 35px;
		display: flex;
		position: relative;
		&__pils{
			position: absolute;
			left: -73px;
			bottom: -47px;
		}
		&__title {
			color: #000000;
			font-size: 52px;
			font-weight: 900;
			line-height: 49px;
		}

		&__check {
			margin-top: 45px;


		}

		&__list {
			padding-left: 56px;
			position: relative;
			color: #444444;
			line-height: 28px;
			font-size: 21px;
			font-weight: 400;
		margin-top: 15px;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: -7px;
				width: 38px;
				height: 38px;
				border-radius: 50%;
				background: url(../img/check-icon.png) no-repeat center #fa4f01;
			}
		}
	}

	.pack-abs {
		position: absolute;
		bottom: -193px;
    left: -5px;
	}
}
@media screen and (max-width: 1199px) {
	.header{
		&-legs{
			left: -316px;
		}
		&-nav{
			&__list{
				font-size: 16px;
			}
		}
		&-content{
			width: 660px;
		}
		&-main{
			&__check{
				margin-top: 35px;
			}
			&__title{
				font-size: 46px;
				line-height: 46px;
			}
			&__list{
				font-size: 19px;
				line-height: normal;
			}
			&__pack{
				width: 375px;
			}
		}
		.pack-abs {
			bottom: -140px;
	}
	}
}

@media screen and (max-width: 1023px) {
	.header{
		height: auto;
		max-height: 100%;
		padding-top: 20px;
		padding-bottom: 40px;
		background-image: none;
		&-legs{
			display: none;
		}
		&-logo{
			position: initial;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
		&-nav{
			width: 600px;
			margin-right: auto;
			margin-left: auto;
			&__list{
				
			}
		}
		&-content{
		width: 100%;
		padding-top: 20px;
		}
		&-main{
			flex-wrap: wrap;
			margin-top: 20px;
			padding-right: 40px;
			padding-left: 40px;
			&-box{
				width: 100%;
			}
			&__check{
				position: absolute;
				left: 40px;
				top: 95px;
			}
			&__title{
				text-align: center;
				font-size: 39px;
    line-height: 39px;
				br{
					display: none;
				}
			}
			&__list{
				
			}
			&__pack{
				
			}
			&__pils{
				display: none;
			}
		}
		.pack-abs {
			bottom: 40px;
			left: 30px;
	}
	.form{
		margin-left: auto;
		margin-top: 25px;
	}
	}

}

@media screen and (max-width: 767px) {
	.header{

		padding-top: 15px;
		padding-bottom: 30px;

	
		&-logo{
	
		}
		&-nav{
			width: 100%;
			margin-right: auto;
			margin-left: auto;
			&__list{
				
			}
		}
		&-content{
		width: 100%;
		padding-top: 20px;
		}
		&-main{
			flex-wrap: wrap;
			margin-top: 12px;
			padding-right: 0px;
			padding-left: 0px;
			&-box{
				width: 100%;
			}
			&__check{
				left: 0;	
			}
			&__title{
				text-align: center;
				font-size: 34px;
    line-height: 34px;
			
			}
			&__list{
				font-size: 18px;
				padding-left: 50px;
				margin-top: 10px;
			}
			&__pack{
				width: 330px;
			}
			&__pils{
				display: none;
			}
		}
		.pack-abs {
			bottom: 90px;
			left: 0px;
	}
	.form{
		margin-left: auto;
		margin-top: 25px;
	}
	}
}

@media screen and (max-width: 639px) {
	.header{

		padding-top: 15px;
		padding-bottom: 25px;

	
		&-logo{
	
		}
		&-nav{
			width: 252px;
			margin-right: auto;
			margin-left: auto;
			flex-direction: column;
			&__list{
				justify-content: flex-start;
				line-height: normal;
				margin-bottom: 15px;
				br{
					display: none;
				}
				&:nth-child(3) {
					padding-left: 56px;
					&:before{
						left: 5px;
						transform: translateY(-44%);
					}
			}
			}
		}
		&-content{
		width: 100%;
		padding-top: 20px;
		}
		&-main{
			
			&-box{
			
			}
			&__check{
				position: initial;
				margin-top: 26px;
				width: 300px;
				margin-right: auto;
				margin-left: auto;
			}
			&__title{
				
				font-size: 26px;
    line-height: 26px;
			
			}
			&__list{
				font-size: 16px;
				padding-left: 50px;
				margin-top: 10px;
				
			}
			&__pack{
				width: 330px;
			}
			&__pils{
				display: none;
			}
		}
		.pack-abs {
			position: initial;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 20px;
	}
	.form{
		margin-left: auto;
		margin-top: 20px;
		margin-right: auto;
	}
	}
}