.fact {
  padding-top: 186px;
  padding-bottom: 95px;
  &-content {
    display: flex;
    justify-content: center;
		align-items: center;
		margin-top: 40px;
    &__img {
      width: 143px;
      height: 143px;
      border: 4px solid #f64d01;
      background-color: #ffffff;
      border-radius: 50%;
    }
    &-box {
      display: flex;
      justify-content: flex-end;
			flex-direction: column;
			
		}
		&-box2{
			.fact-content__text {
				padding-right: 0px;
				padding-left: 42px;
		}
		.fact-contents{
			justify-content: flex-start;
			margin-right: 0;
			margin-left: 48px;
		}
		.fact-content__title{
			text-align: left;
		}
		.fact-content__subtitle{
			text-align: left;
		}
		.fact-contents{
			&:nth-child(1){
				position: relative;
				&:before{
						content: '';
						position: absolute;
						right: auto;
						top: 50%;
						left: -148px;
						transform: translateY(-90%);
						width: 148px;
						height: 34px;
						background: url(../img/fact-line3.png) no-repeat center;
				}
			}
			&:nth-child(2){
				margin-top: 60px;
				position: relative;
				&:before{
					content: '';
					position: absolute;
					right: auto;
					left: -129px;
					top: 50%;
					transform: translateY(8%);
					width: 129px;
					height: 34px;
					background: url(../img/fact-line4.png) no-repeat center;
			}
			}
		}
		}
    &__title {
      color: #000000;
      font-size: 23px;
      font-weight: 500;
      line-height: 22px;
      text-align: right;
    }
    &__text {
      padding-right: 42px;
    }
    &__subtitle {
      color: #444444;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      margin-top: 9px;
      text-align: right;
    }
  }
  &-contents {
    display: flex;
    justify-content: flex-end;
		align-items: center;
		margin-right: 38px;
		top: -10px;
		&:nth-child(1){
			position: relative;
			&:before{
					content: '';
					position: absolute;
					right: -109px;
					top: 50%;
					transform: translateY(0%);
					width: 109px;
					height: 87px;
					background: url(../img/fact-line1.png) no-repeat center;
			}
		}
		&:nth-child(2){
			margin-top: 60px;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				right: -138px;
				top: 50%;
				transform: translateY(-99%);
				width: 138px;
				height: 327px;
				background: url(../img/fact-line2.png) no-repeat center;
		}
		}
	}
	&-problem{
		text-align: center;
		color: #000000;
		font-size: 27px;
		font-weight: 500;
		margin-top: 50px;
		line-height: 28px;
	}
	&-frame{
		margin-top: 57px;
		box-shadow: 0 0 35px rgba(134, 147, 162, 0.25);
border: 4px solid #f64d01;
width: 100%;
border-radius: 70px;
padding: 12px 115px;
text-align: center;
color: #444444;
font-family: Roboto;
font-size: 19px;
font-weight: 400;
line-height: 26.52px;
	}
}
@media screen and (max-width: 1199px) {
	.fact {
		padding-top: 100px !important;
		&-content{
			margin-top: 25px;
			&__text{
				padding-right: 25px;
			}
			&__title{
				font-size: 21px;
			}
			&__subtitle{
				font-size: 17px;
				line-height: normal;
				margin-top: 2px;
			}
			&-box2{
				 .fact-content__text {
					padding-right: 0px;
					padding-left: 25px;
			}
			}
		}
		&-problem{
			font-size: 25px;
			margin-top: 30px;
		}
		&-frame{
			font-size: 18px;
			line-height: normal;
			padding: 10px 56px;
			margin-top: 25px;
		}
		
	}
}

@media screen and (max-width: 1023px) {
	.fact {
		padding-top: 40px !important;
		&-content{
			margin-top: 25px;
			&__text{
				padding-right: 15px;
			}
			&__title{
				font-size: 20px;
			}
			&__subtitle{
				font-size: 16px;
				line-height: normal;
				margin-top: 0px;
			}
			&-box2{
				margin-left: 15px;
				.fact-content__text {
				 padding-right: 0px;
				 padding-left: 15px;
				 .fact-contents{
					 margin-left: 0;
				 }
				 
				 
		 }
		
		
		
			}
		}
		&-problem{
			font-size: 23px;
			margin-top: 25px;
			line-height: normal;
		}
		&-frame{
			font-size: 17px;
			line-height: normal;
			padding: 10px 36px;
			margin-top: 20px;
			br{
				display: none;
			}
		}
		&-contents{
			top: 0;
			margin-right: 0;
			&:nth-child(2){
				margin-top: 20px;
			}
		}
	}
	.fact-content-box2 .fact-contents:nth-child(1):before,.fact-contents:nth-child(2):before,.fact-content-box2 .fact-contents:nth-child(2):before,.fact-content-box2 .fact-contents:nth-child(4):before{
		display: none;
	}
	.fact-contents:nth-child(1):before{
		display: none;
	}
	.fact-content-box3{
		display: none;
	}
	.fact-content-box2 .fact-contents{
		margin-left: 0;
	}
	.fact-content-box2 .fact-contents:nth-child(2){
		margin-top: 20px;
	}
}

@media screen and (max-width: 767px) {
	.fact{
		padding-top: 30px !important;
		&-content{
			margin-top: 20px;
			&__title{
				font-size: 19px;
				margin-top: 5px;
				text-align: center;
			}
			&__subtitle{
				font-size: 15px;
				text-align: center;
				br{
					display: none;
				}
			}
			&__text{
				order: 2;
			}
			&__img{
				order: 1;
			}
		}
		&-contents{
			flex-direction: column;
			
		}
		&-problem{
			font-size: 21px;
			margin-top: 20px;
		}
		&-frame{
			font-size: 16px;
			margin-top: 15px;
			padding: 10px 30px;
		}
	}
	.fact-content-box2 .fact-content__text{
		padding-left: 10px;
	}
	.fact-content__text{
		padding-right: 10px;
	}
	.fact-content-box2 .fact-content__title{
		text-align: center;
	}
	.fact-content-box2 .fact-content__subtitle{
		text-align: center;
	}
}

@media screen and (max-width: 639px) {
	.fact{
		padding-top: 25px !important;
		.title{
			br{
				display: none;
			}
		}
		&-content{
			flex-wrap: wrap;
			&-box{
				flex-direction: row;
				flex-wrap: wrap;
				align-items: flex-start;
			}
			&__text{
				padding-right: 0;
			}
		}
		&-contents{
			width: 48%;
			margin: 0px;
			justify-content: center;
			align-items: center;
		}
		&-problem{
			font-size: 20px;
			margin-top: 15px;
			br{
				display: none;
			}
		}
		&-frame{
			font-size: 16px;
			margin-top: 10px;
			padding: 15px 30px;
		}
	}
	.fact-content-box2{
		margin-left: 0;
		margin-top: 15px;
	}
	.fact-contents:nth-child(2) {
    margin-top: 0px;
}
.fact-content-box2 .fact-contents:nth-child(2) {
	margin-top: 0px;
}
}
@media screen and (max-width: 479px) {
	.fact-content-box{
		flex-direction: column;
	}
	.fact-contents{
		width: 100%;
	}
	.fact-content{
		flex-direction: column;
	}
	.fact-contents{
		margin-bottom: 12px;
	}
	.fact-content-box2{
		margin-top: 0;
	}
	.fact-problem{
		margin-top: 0;
	}
	.fact-content{
		margin-top: 15px;
	}
}