.bheader{
	background: url(../img/bg1.jpg) no-repeat center, linear-gradient(to right, #f6e3cf 0%, #fff8f0 50%, #f6e3cf 100%);
	position: relative;
	z-index: 1;
	background-size: cover;
	padding-top: 90px;

}