.use {
	background: url(../img/bg.jpg) no-repeat center;
	background-size: cover;
	padding: 72px 0 88px;

	&-content {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		margin-top: 75px;

		&-box {
			position: relative;
			padding-right: 55px;

			&:nth-child(2) {
				padding-left: 15px;
			}
		}

		&__glass {
			position: absolute;
			bottom: 32px;
			right: 0;
			z-index: 1;
		}

		&__pack {
			position: relative;
			z-index: 2;
		}

		&__img {
			width: 135px;
			height: 135px;
			background-color: rgba(229, 208, 185, 0.6);
			
			border-radius: 50%;
			position: relative;
			z-index: 5;
			img{
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
			&:before {
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);

				width: 105px;
				height:105px;
				border: 7px solid #f64d01;
				background-color: #ffffff;

				border-radius: 50%;
				z-index: -1;

			}
		}

		&__right {
			display: flex;
			align-items: center;
			margin-bottom: 15px;
			position: relative;
			z-index: 2;

			&:last-child {
				margin-bottom: 5px;
			}
		}

		&__text {
			margin-left: 37px;
			color: #000000;
			font-size: 18px;
			font-weight: 500;
			line-height: 26px;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				top: -19px;
				left: 0;
				width: 20px;
				height: 3px;
				background-color: #7bbf1c;
			}
		}
	}
}
@media screen and (max-width: 1199px) {
	.use {

	
		&-content {
	
			margin-top: 40px;
	
			&-box {
		
	
				&:nth-child(2) {
				
				}
			}
	
			&__glass {
			
			}
	
			&__pack {
		
			}
	
			&__img {
			
				img{
				
				}
				&:before {
		
	
				}
			}
	
			&__right {
				display: flex;
				align-items: center;
				margin-bottom: 15px;
				position: relative;
				z-index: 2;
	
				&:last-child {
					margin-bottom: 5px;
				}
			}
	
			&__text {
				margin-left: 22px;
				color: #000000;
				font-size: 18px;
				font-weight: 500;
				line-height: normal;
				position: relative;
				&:before{
			
				}
			}
		}
	}
}

@media screen and (max-width: 1023px) {
	.use {

	
		&-content {
	
			margin-top: 25px;
	
			&-box {
				padding-right: 30px;
	
				&:nth-child(2) {
					padding-right: 0;
					padding-left: 5px;
				}
			}
	
			&__glass {
			width: 185px;
			}
	
			&__pack {
		width: 320px;
			}
	
			&__img {
			
				img{
				
				}
				&:before {
		
	
				}
			}
	
			&__right {
			margin-bottom: 10px;
	
				&:last-child {
					margin-bottom: 2px;
				}
			}
	
			&__text {
				margin-left: 14px;
				font-size: 17px;
				&:before{
					top: -15px;
				}
			}
		}
	}

}

@media screen and (max-width: 767px) {
	.use {

	
		&-content {
			flex-direction: column;
			margin-top: 15px;
			justify-content: center;
			align-items: center;
			&-box {
				padding-right: 30px;
				margin-top: 80px;
				&:nth-child(2) {
					padding-right: 0;
					padding-left: 5px;
					margin-top: 0;
					display: flex;
					align-items: flex-start;
					margin-top: 10px;
				}
			}
	
			&__glass {
			width: 145px;
			}
	
			&__pack {
		width: 280px;
			}
	
			&__img {
			width: 120px;
			height: 120px;
				img{
				
				}
				&:before {
					width: 95px;
					height: 95px;
	
				}
			}
	
			&__right {
			margin-bottom: 10px;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 33%;
	
				&:last-child {
					margin-bottom: 2px;
				}
			}
	
			&__text {
				margin-left: 0px;
				font-size: 17px;
				margin-top: 8px;
				text-align: center;
				br{
					display: none;
				}
				&:before{
					display: none;
				}
			}
		}
	}
}

@media screen and (max-width: 639px) {
	.use {

	
		&-content {
		
			&-box {
				margin-top: 60px;
				&:nth-child(2) {
	
				}
			}
	
			&__glass {
	      width: 125px;
			}
	
			&__pack {
width: 260px;
			}
	
			&__img {
	
				img{
				
				}
				&:before {

	
				}
			}
	
			&__right {
				margin: 0 5px;
	
				&:last-child {
			
				}
			}
	
			&__text {
		font-size: 16px;
				br{
			
				}
				&:before{
		
				}
			}
		}
	}
}
@media screen and (max-width: 479px) {
	.use {

	
		&-content {
		
			&-box {
				
				&:nth-child(2) {
					flex-direction: column;
					margin-top: 0;
				}
			}
	
			&__glass {
	      width: 125px;
			}
	
			&__pack {

			}
	
			&__img {
	
				img{
				
				}
				&:before {

	
				}
			}
	
			&__right {
		
	width: 250px;
	margin-bottom: 8px;
				&:last-child {
			margin-bottom: 0;
				}
			}
	
			&__text {
				margin-top: 3px;
				br{
			
				}
				&:before{
		
				}
			}
		}
	}
}