.order {
    padding: 76px 0 80px;
}

.order__list {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 52px;

    &::before {
        content: '';
        position: absolute;
        top: 130px;
        left: 330px;
        display: block;
        width: 100%;
        height: 2px;
        background: url('../img/order-line.png') 0 0 no-repeat;
    }
}

.order__item {
    flex-basis: 340px;
}

.order__pic {
    width: 260px;
    height: 260px;
    margin: 0 auto 45px;
    border-radius: 50%;
    border: 30px solid #fff1e1;
    overflow: hidden;
}

.order__img {
    display: block;
    margin: 0 auto;
}

.order__item-title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 22px;
    line-height: 24px;
    font-weight: 500;
}

.order__item-desc {
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    color: #444;
}

@media screen and (max-width: 1199px) {

    .order__list {
			margin-top: 30px;
        &::before {
            display: none;
        }
    }
		.order__pic{
			margin-bottom: 15px;
		}
		.order__item-title{
			margin-bottom: 5px;
		}
		.order__item-desc{
			line-height: normal;
		}
}

@media screen and (max-width: 1023px) {

    .order__list {
        margin-top: 25px;
    }

    .order__pic {
        width: 230px;
        height: 230px;
        margin: 0 auto 10px;
        border: 20px solid #fff1e1;
    }

    .order__item-title {
        font-size: 20px;
        line-height: 24px;
    }

    .order__item-desc {
        font-size: 17px;
        line-height:normal;
    }
		.order__item-title {
			margin-bottom: 0px;
	}
}

@media screen and (max-width: 767px) {

   .order__list {
       flex-wrap: wrap;
       justify-content: center;
       margin-top: 20px;
   }

   .order__item {
       flex-basis: 290px;

       &:last-child {
           margin-top: 20px;
       }
   }

   .order__pic {
        margin: 0 auto 15px;
   }

   .order__item-title {
        margin-bottom: 5px;
        font-size: 19px;
        line-height: 22px;
   }

   .order__item-desc {
        font-size: 16px;
        line-height: 20px;
   }

}

@media screen and (max-width: 639px) {

    .order__list {
        margin-top: 15px;
    }

    .order__item {

        &:last-child {
            margin-top: 0;
        }

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .order__pic {
        margin: 0 auto 10px;
    }

    .order__item-title {
        margin-bottom: 0;
    }

}