doctype html
html
  head
    meta(charset="utf-8")
    title Купить Varius недорого. Цены, отзывы. Закажите Varius сейчас!
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:700|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
    link(href="img/favicon.ico" rel="icon")
    link(rel='stylesheet' href='css/app.css')
  body.timer-different


    include ../common/a_header.html
    include ../common/b_fact.html
    include ../common/c_description.html
    include ../common/d_composition.html
    include ../common/e_use.html
    include ../common/f_doctor.html
    include ../common/g_reviews.html
    include ../common/h_order.html
    include ../common/i_bheader.html
    include ../common/j_footer.html
    include ../common/k_popup.html




    script(src='js/jquery-3.3.1.min.js')
    script(src='js/slick.min.js')
    //script(src='js/everad.js')
    script(src='js/app.js')